<div class="project">
  <article class="project-card">
    <div class="project-description">
      <div class="project-head">
        <h2 class="project-title">Habit Tracker</h2>
        <div class="project-links">
          <a
            href="https://github.com/great-simonlee/project_habit_tracker"
            target="_blank"
          >
            <button class="project-button">
              <i class="fab fa-github"></i>
            </button>
          </a>
          <a
            href="https://great-simonlee.github.io/project_habit_tracker/"
            target="_blank"
          >
            <button class="project-button">
              <i class="fab fa-chrome"></i>
            </button>
          </a>
          <a href="https://youtu.be/yg8QA3bx41g" target="_blank">
            <button class="project-button">
              <i class="fab fa-youtube"></i>
            </button>
          </a>
        </div>
      </div>
      <div class="project-time">Mar 1, 2021 - Mar 7, 2021</div>
      <div class="project-contents">
        ReactJS Class Component and Pure Component Practice
      </div>
      <div class="project-language">
        <span class="project-tech">HTML</span>
        <span class="project-tech">CSS</span>
        <span class="project-tech">JS</span>
        <span class="project-tech">ReactJS</span>
      </div>
    </div>
    <img
      class="project-image"
      src="{{ site.baseurl }}/assets/img/habittracker.png"
      alt="Daniel Lee"
    />
  </article>

  <article class="project-card">
    <div class="project-description">
      <div class="project-head">
        <h2 class="project-title">University Community</h2>
        <div class="project-links">
          <a href="#" target="_blank">
            <button class="project-button">
              <i class="fab fa-github"></i>
            </button>
          </a>
          <a href="#" target="_blank">
            <button class="project-button">
              <i class="fab fa-chrome"></i>
            </button>
          </a>
          <a href="#" target="_blank">
            <button class="project-button">
              <i class="fab fa-youtube"></i>
            </button>
          </a>
        </div>
      </div>
      <div class="project-time">Apr 27, 2021 - May 16, 2021</div>
      <div class="project-contents">WordPress-driven Website</div>
      <div class="project-language">
        <span class="project-tech">WordPress</span>
        <span class="project-tech">HTML</span>
        <span class="project-tech">CSS</span>
        <span class="project-tech">JavaScript</span>
        <span class="project-tech">AJAX</span>
      </div>
    </div>
    <img
      class="project-image"
      src="{{ site.baseurl }}/assets/img/university_community.png"
      alt="Daniel Lee"
    />
  </article>
  <article class="project-card">
    <div class="project-description">
      <div class="project-head">
        <h2 class="project-title">New York Moves RE</h2>
        <div class="project-links">
          <a href="https://www.newyorkmovesre.com" target="_blank">
            <button class="project-button">
              <i class="fab fa-chrome"></i>
            </button>
          </a>
        </div>
      </div>
      <div class="project-time">
        May 17, 2021 - June 14, 2021 (Cont' for design)
      </div>
      <div class="project-contents">
        New York Moves Real Estate Website w/ WordPress and iHomefinder
      </div>
      <div class="project-language">
        <span class="project-tech">WordPress</span>
        <span class="project-tech">Php</span>
        <span class="project-tech">HTML</span>
        <span class="project-tech">CSS</span>
        <span class="project-tech">JavaScript</span>
      </div>
    </div>
    <img
      class="project-image"
      src="{{ site.baseurl }}/assets/img/nym.png"
      alt="Daniel Lee"
    />
  </article>
  <article class="project-card">4</article>
  <article class="project-card">5</article>
</div>
