<div class="project">
  <article class="project-card">
    <div class="project-description">
      <div class="project-head">
        <h2 class="project-title">Habit Tracker</h2>
        <div class="project-links">
            <a
              href="https://github.com/great-simonlee/project_habit_tracker"
              target="_blank"
            >
              <button class="project-button"><i class="fab fa-github"></i></button>
            </a>
            <a href="https://great-simonlee.github.io/project_habit_tracker/" target="_blank">
              <button class="project-button"><i class="fab fa-chrome"></i></button>
            </a>
          </button>
        </div>
      </div>
      <div class="project-time">Mar 1, 2021 - Mar 7, 2021</div>
      <div class="project-contents">
        ReactJS Class Component and Pure Component Practice 
      </div>
      <div class="project-language">
        <span class="project-tech">HTML</span>
        <span class="project-tech">CSS</span>
        <span class="project-tech">JS</span>
        <span class="project-tech">ReactJS</span>
      </div>
    </div>
    <img
      class="project-image"
      src="{{ site.baseurl }}/assets/img/project_example.jpeg"
      alt="Daniel Lee"
    />
  </article>
  <article class="project-card">2</article>
  <article class="project-card">3</article>
  <article class="project-card">4</article>
  <article class="project-card">5</article>
</div>
