* {
  font-family: sans-serif;
}

h2 {
  font-weight: bolder;
}

a:hover {
  text-decoration: none;
}

.intro_card {
  margin: 5vh 0;
  display: flex;
}

.intro_pic {
  height: 20vh;
}

.intro_desc {
  margin-left: 2vh;
  display: flex;
  flex-direction: column;
}

.intro_name {
  font-size: 30px;
  font-weight: bold;
}

.intro_title {
  font-size: 22px;
  font-family: sans-serif;
  font-style: italic;
}

.project-card {
  cursor: default;
  display: flex;
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
  margin: 2em;
  padding: 1em;
  border-radius: 20px;
}

.project-description {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 55%;
}

.project-head {
  display: flex;
  justify-content: space-between;
}

.project-contents {
  margin: 5px 0px;
}

.project-image {
  width: 250px;
  height: 200px;
}

.project-language {
  display: flex;
}

.project-tech {
  font-size: 14px;
  padding: 5px;
  font-style: italic;
}

.project-button {
  margin-top: 7px;
  background-color: transparent;
  font-size: 17px;
  border: none;
  cursor: pointer;
  transition: color 0.2s;
}

.project-button:focus {
  outline: none;
}

.project-button:hover {
  color: orange;
}

/* .project-tech:hover {
  border-radius: 3px;
  box-shadow: 0px 0px 10px red;
} */
