---
layout: post
title: Resources - Firebase Email Verification
categories: firebase verification
author: Simon Lee
permalink: /:categories/:title
---

<strong>[Firebase Official Website][firebase]</strong>

## 1. Email Verification

<br>
<br>
<br>

## 2.

<br>
<br>
<br>

## 3.

<br>
<br>
<br>
